#navBar {
    border-radius: 50px !important;
    background: #e0e0e0 !important;
    box-shadow: -20px 20px 19px #bebebe, 20px -20px 19px #ffffff !important;
    padding: 5px !important;
    margin-top: 5px !important;
}

.nav-item:hover {
    background-color: #ececec !important;
    border-radius: 6px;
}



::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #103ff9;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #1808f7;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #0320fc;
    }

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 8px;
}

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}


